body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calc {
    display: flex;
    background-color: skyblue;
    width: 600px;
    height: 700px;
    border-radius: 30px;
    flex-direction: column;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    gap: 13px
}

#display {
    background-color: white;
    font-size: 35px;
    border: 1px solid black;
    width: 440px;
    padding: 15px;
    border-radius: 30px;
    height: 45px;
}

button {
    width: 110px;
    height: 110px;
    border-radius: 35px;
    margin: 1px;
}